

.input-filter-form-clicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  margin: 20px auto; 
  gap: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    
  .clicker-report-field {
    display: flex;
    flex-direction: column;
    width: 25%
  }
    
    .clicker-report-field label {
      font-weight: bold;
      margin-bottom: 8px;
      text-align: left;
    }
    
    .clicker-report-field input {
      padding: 10px 5px;
      font-size: 16px;
      border: 1px solid #f2f2f2;
    }
    
    .clicker-form-actions {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 15px 0 0;
    }
    
    .clicker-form-actions .btn {
      padding: 8px 16px;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .clicker-form-actions .submit-btn {
      background-color: #44a67e;
      border-color: #44a67e;
    }
    
    .clicker-form-actions .submit-btn:hover {
      background-color: #44a67e;
      border-color: #44a67e;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    .clicker-form-actions .download-btn {
      background: #373435;
      color: #ffcc29;
    }
    
    .clicker-form-actions .download-btn:hover {
      background: #373435;
      color: #ffcc29;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

  /* Clicker Report Table Style */
  .clicker-report-table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    margin: 20px auto; 
    max-width: 90%; 
    gap: 20px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: none;
}

.clicker-report-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.clicker-report-table th,
.clicker-report-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.clicker-report-table th {
  background-color: #f4f4f4;
  color: #373435;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.clicker-report-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.clicker-report-table tbody tr:hover {
  background-color:  rgba(255, 204, 41, 0.2);
}

.clicker-report-table td {
  color: #373435;
}

.clicker-report-table tbody tr:last-child td {
  border-bottom: 2px solid #ffcc29;
}

/* Expand Button */
.clicker-expand-btn {
  background: #373435;
  color: #ffcc29;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.clicker-expand-btn:hover {
  background: #ffcc29;
  color: #373435;
}

/* Expanded Row */
.clicker-expanded-row {
  background-color: #eef7ff;
}

.clicker-expanded-content {
  padding: 10px;
}

/* ==========Message Note Style=========  */
.clicker-report-field .input-alert-combine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.clicker-report-field small {
  color: #373435;
  font-size: 12px;
  text-align: start;
}

.clicker-pagination-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 30px;
}

.clicker-pagination-buttons button {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}


/* Loader Style */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #373435;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-overlay p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

.clicker-whole-wrap {
  margin: 0 40px;
}


@media (max-width: 850px) {
    .clicker-whole-wrap .input-filter-form-clicker {
        flex-direction: column;
    }
}  