.summary-report-form-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  margin: 20px auto; 
  gap: 20px;
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.summary-date-field {
  display: flex;
  flex-direction: column;
  width: 25%
}

.summary-date-field label {
  font-weight: bold;
  margin-bottom: 8px;
  text-align: left;
}

.summary-date-field input {
  padding: 10px 5px;
  font-size: 16px;
  border: 1px solid #f2f2f2;
}

.summary-form-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 0 0;
}

.summary-form-actions .btn {
  padding: 8px 16px;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.summary-form-actions .submit-btn {
  background-color: #44a67e;
  border-color: #44a67e;
}

.summary-form-actions .submit-btn:hover {
  background-color: #44a67e;
  border-color: #44a67e;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.summary-form-actions .download-btn {
  background: #373435;
  color: #ffcc29;
}

.summary-form-actions .download-btn:hover {
  background: #373435;
  color: #ffcc29;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Responsive Styles */
@media (max-width: 700px) {
  .summary-report-form-filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .summary-date-field input {
    max-width: 100%;
  }

  .summary-form-actions {
    flex-direction: column;
    width: 100%;
  }

  .summary-form-actions .btn {
    width: 100%;
    text-align: center;
  }
}


/* Ensure Table is Scrollable on Small Screens */
.summary-table-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.summary-report-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.summary-report-table th,
.summary-report-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.summary-report-table th {
  background-color: #f4f4f4;
  color: #373435;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
}

.summary-report-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.summary-report-table tbody tr:hover {
  background-color:  rgba(255, 204, 41, 0.2);
}

.summary-report-table td {
  color: #373435;
}

.summary-report-table tbody tr:last-child td {
  border-bottom: 2px solid #ffcc29;
}

/* Expand Button */
.summary-report-expand-btn {
  background: #373435;
  color: #ffcc29;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.summary-report-expand-btn:hover {
  background: #ffcc29;
  color: #373435;
}

/* Expanded Row */
.summary-report-expanded-row {
  background-color: #eef7ff;
}

.summary-report-expanded-content {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .under-1000px {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  .toggle-button-expansion {
    display: none;
  }
}

/* Make Table Rows Stack on Small Screens */
@media screen and (max-width: 768px) {
  .summary-report-form-filter {
      flex-direction: column;
      align-items: flex-start;
  }

  .summary-date-field {
      width: 100%;
      align-items: center;
  }

  .summary-form-actions {
      flex-direction: column;
      width: 100%;
  }
}

.wrap-summary-report {
  margin: 0 40px;
}