.section-division {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }

  .template-content-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.content-template-field {
  display: flex;
  /* align-items: center; */
  align-items: baseline;
  gap: 10px; /* Spacing between label and input */
}

.content-template-field input {
  width: auto;
}

.content-template-field label {
  flex: 0 0 250px;
  text-align: left; 
  font-weight: bold;
}

.content-template-field input[type="text"],
.content-template-field input[type="number"],
.content-template-field select,
.content-template-field textarea {
  flex: 1; /* Take up remaining space */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.content-template-field textarea {
  resize: vertical; /* Allow vertical resizing */
}


/* For Upload Content Field */
.content-template-field-upload {
  display: flex;
  align-items: center; /* Align label and input vertically */
  gap: 10px; /* Spacing between label and input */
}

.content-template-field-upload input {
  width: auto;
}

.content-template-field-upload label {
  flex: 0 0 200px;
  text-align: left; 
  font-weight: bold;
}

.content-template-field-upload input[type="text"],
.content-template-field-upload select,
.content-template-field-upload textarea {
  flex: 1; /* Take up remaining space */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.content-template-field-upload textarea {
  resize: vertical; 
}

.content-template-field-upload small {
  /* color: #373435;
  font-size: 12px;
  text-align: left; */
  font-size: 0.9em;
  color: #44a67e;
  text-align: start;
  font-size: 13px !important;
  font-style: italic;
  width: 100%;
  font-weight: 550;
}

.content-template-field-upload .file-name {
  color: #44a67e !important;
  font-size: 16px !important;
  text-align: start;
}

.file-upload-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* Content Button Style */
.content-form-actions {
  display: flex;
  justify-content: center; /* Align buttons at the center */
  gap: 15px;
  margin-top: 20px;
}

.content-form-actions .btn-submit,
.btn-cancel {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content-form-actions .btn-submit {
  color: #fff;
  background-color: #44a67e;
  border-color: #44a67e;
}

.content-form-actions .btn-cancel {
    background-color: #fb3d4e;
    color: white;
}

/* .content-form-actions .btn-submit:hover {
    background-color: #45a049;
}

.content-form-actions .btn-cancel:hover {
    background-color: #e53935;
} */


/* ================== */

  .template-radio-btns {
    display: flex;
    gap: 15px;
  }

  .template-radio-btns label {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-weight: normal; 
  }

  .wrap-add-template-management {
    margin: 0 40px;
  }

  /* search filter */
  .senderid-search-filter {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }
  
  .senderid-search-filter input {
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }


  /* Table Styling======================================================= */
  .content-table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .content-template-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  .content-template-table th,
  .content-template-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .content-template-table th {
    background-color: #f4f4f4;
    color: #373435;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
  }
  
  .content-template-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .content-template-table tbody tr:hover {
    background-color:  rgba(255, 204, 41, 0.2);
  }
  
  .content-template-table td {
    color: #373435;
  }
  
  .content-template-table tbody tr:last-child td {
    border-bottom: 2px solid #ffcc29;
  }

  .template-text-cell {
    white-space: pre-wrap;
    word-break: break-word;
  }
  
  
  /* Expand Button */
  .template-expand-btn {
    background: #373435;
    color: #ffcc29;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .template-expand-btn:hover {
    background: #ffcc29;
    color: #373435;
  }
  
  /* Expanded Row */
  .template-expanded-row {
    background-color: #eef7ff;
  }
  
  .template-expanded-content {
    padding: 10px;
  }
  
  /* Responsive Styles */
 
/* ------------------------------------------------------------------------------------ */
  


  /* TABLE BUTTONS */
  button.delete-btn {
    padding: 5px 10px;
    background-color: #fb3d4e;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button.delete-btn:hover {
    background-color: darkred;
  }
  

  /* Response Message */
  .templateResponseMsg {
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
  }

  .templateResponseMsg p {
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
  }

  /* Modal Style  */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    width: 80%;
    position: relative;
  }

  .preview-input-modal {
    /* border: 1px solid #000; */
    padding: 0 10px;
  }
  
  .modal-content h3{
      text-align: center;
      color: #333;
    }
    .modal-content p {
      font-size: 16px;
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background-color: #ffcc29;
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-width: 100%;
      white-space: pre-wrap;
      text-align: left;
    }
    
  
  .modal-content h3 {
    margin-top: 0;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
  }

  .modal-footer button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-template-button {
    background: #44a67e;
    color: #fff;
    border: none;
  }

  .cancel-template-button {
    background: #fb3d4e;
    color: #fff;
    border: none;
  }


  /* Upload Content */
  
  .upload-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto; /* Centers the form horizontally */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group-upload {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group-upload div label {
    display: flex; 
    align-items: center; 
    gap: 5px; 
  }
  
  .form-group-upload div {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap; 
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  
  input[type="file"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }
  
  .form-group-upload input[type="text"], select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .content-template-field .input-alert-combine {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .content-template-field .note {
    font-size: 0.9em;
    color: #44a67e;
    font-size: 13px !important;
    font-style: italic;
    text-align: start;
    font-weight: 550;
  }